.btn {
	color: var(--clr-pink-3);
	border: none;
	background-color: var(--clr-grey-8);
	margin-top: 1.5rem;
	font-size: 2rem;
	font-family: 'Quicksand';
	font-weight: bold;
	padding: 1.5rem 2rem;
	letter-spacing: var(--spacing);
	border-radius: var(--radius);
	cursor: pointer;
	border-radius: 4px;
	transition: background-color 0.2s;

	&:hover {
		background-color: var(--clr-grey-7);
	}

	&:active {
		background-color: var(--clr-grey-8);
	}

	&:disabled {
		cursor: not-allowed;
	}
}
