/* CONTAINER */

.container {
	padding: 1.5rem 3rem;
	// width: #{'min(90vw, 720px)'};
	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		text-align: center;
		color: var(--clr-pink-3);
		font-size: 3.2rem;
		font-weight: 600;

		@include respond-max($bp-small) {
			font-size: 2.7rem;
		}

		@include respond-max($bp-smallest) {
			font-size: 2.4rem;
		}
	}
}
