/* FORM */

.form-container {
	background-color: var(--clr-grey-9);
	backdrop-filter: blur(3px);
	padding: 3rem 4rem;
	width: 500px;
	margin: 5rem 0;
	border-radius: 4px;
	box-shadow: var(--light-shadow);
	color: var(--clr-pink-3);

	&__title {
		font-size: 2.7rem;
		margin-bottom: 2rem;
	}

	&__text {
		font-size: 1.7rem;
		margin-top: 2.5rem;
		text-align: center;
	}

	&__link {
		color: var(--clr-grey-3);
		padding-bottom: 3px;

		&:hover {
			border-bottom: 2px solid currentColor;
		}
	}
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1.3rem;
	margin-bottom: 1rem;

	&__label {
		color: var(--clr-pink-3);
		font-weight: 600;
		font-size: 1.7rem;
	}

	&__input {
		padding: 1.2rem;
		font-family: 'Quicksand';
		font-size: 1.5rem;
		font-weight: 500;
		border: none;
		background-color: var(--clr-grey-2);
		caret-color: var(--clr-pink-3);

		&::placeholder {
			font-size: 1.4rem;
			color: var(--clr-grey-6);
		}

		&--invalid {
			background-color: var(--clr-red-1);
		}

		&:focus {
			outline: none;
			box-shadow: 0 0 3px 2px rgb(241, 78, 141);
		}
	}

	&__validation-error-message {
		font-size: 1.5rem;
		font-weight: 500;
		color: var(--clr-red-2);
	}
}
