.icon {
	height: 2rem;
	width: 2rem;
	fill: var(--clr-pink-3);

	&--action {
		height: 2.3rem;
		width: 2.3rem;
	}

	&__actions {
		grid-column: 1 / -1;
		display: flex;
		justify-content: space-between;
		margin-top: 2rem;

		& > * {
			cursor: pointer;
			transition: transform 0.2s;
		}

		& > *:hover {
			transform: scale(1.2);
		}
	}

	&--edit {
		fill: rgb(189, 189, 189);
	}

	&--delete {
		fill: var(--clr-red-2);
	}
}
