/* NAVBAR */

.navbar {
	background-color: var(--clr-grey-9);
	padding: 5rem;
	text-align: center;

	& h1 {
		color: var(--clr-pink-3);
		font-size: 5rem;
		margin-bottom: 3rem;
	}

	&__link:link,
	&__link:visited {
		color: var(--clr-pink-3);
		font-size: 2rem;
		font-weight: 500;
		display: inline-block;
		position: relative;
	}

	&__link:not(:last-child) {
		margin-right: 4rem;
	}
}

.current-link::before,
.navbar__link:hover::before {
	position: absolute;
	content: '';
	display: inline-block;
	width: 100%;
	height: 2.5px;
	border-radius: 4px;
	top: 2.9rem;
	background-color: currentColor;
	transform-origin: left;
	animation: expandToRight 0.5s cubic-bezier(0.98, 0.01, 0, 1.31);
}

/* NOTIFICATION */
.notification {
	display: inline-block;
	position: absolute;
	top: -0.5rem;
	height: 1.5rem;
	width: 1.5rem;
	background-color: rgb(219, 47, 47);
	border-radius: 4px;
	font-weight: 500;
	text-align: center;
	font-size: 1.1rem;
	color: #eee;
}
