/* PAGINATION BUTTONS */

.pg-buttons {
	display: flex;

	&__button {
		position: relative; /* for positioning its before pseudo-element */
		background-color: var(--clr-grey-9);
		padding: 0.5rem 1.3rem;
		border-radius: 4px;
		cursor: pointer;
		font-size: 1.5rem;
		font-weight: 500;
		color: var(--clr-pink-3);
	}

	&__button:not(:last-child) {
		margin-right: 1.3rem;
	}

	&__button:hover {
		background-color: var(--clr-grey-8);
	}
}

.current-pg-button::before {
	position: absolute;
	content: '';
	display: inline-block;
	height: 4px;
	width: 100%;
	top: 3.7rem;
	left: 0;
	border-radius: 4px;
	background-color: currentColor;
}
