/* SEARCHBAR */

.searchbar-container {
	position: relative;
}

.searchbar {
	width: #{'min(90vw, 50rem)'}; // need to use string interpolation for the min() and max() functions to work in sass
	padding: 1.5rem 2.5rem;
	border: none;
	border-radius: 3rem;
	font-family: 'Quicksand';
	font-size: 2rem;
	color: var(--clr-pink-3);
	background-color: var(--clr-grey-8);
	margin: 2rem 0;

	&::placeholder {
		color: var(--clr-grey-3);
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 3px 2px rgb(241, 78, 141);
	}
}

.icon--searchbar {
	position: absolute;
	top: 3.8rem;
	right: 2.5rem;
}
