/*
=============== 
Variables
===============
*/

:root {
	/* dark shades of primary color*/
	/* darkest grey - used for headings */
	--clr-grey-1: hsl(212, 33%, 89%);
	--clr-grey-2: hsl(210, 31%, 80%);
	--clr-grey-3: hsl(211, 27%, 70%);
	--clr-grey-4: hsl(209, 23%, 60%);
	/* grey used for paragraphs */
	--clr-grey-5: hsl(210, 22%, 49%);
	--clr-grey-6: hsl(209, 28%, 39%);
	--clr-grey-7: hsl(209, 34%, 30%);
	--clr-grey-8: hsl(211, 39%, 23%);
	--clr-grey-9: hsl(209, 61%, 16%);
	--transition: all 0.3s linear;
	--spacing: 0.1rem;
	--radius: 0.25rem;
	--light-shadow: 0 2rem 3.5rem rgba(0, 0, 0, 0.15);
	--dark-shadow: 0 2rem 3.5rem rgba(0, 0, 0, 0.3);
	--max-width: 1170px;
	--fixed-width: 850px;
	--clr-pink: #f28ab2;
	--clr-pink-2: #f16da0;
	--clr-pink-3: #f14e8d;
	--clr-red-1: rgb(240, 159, 159);
	--clr-red-2: rgb(255, 82, 82);
	--clr-green-1: rgb(42, 196, 106);
}

/* ANIMATIONS */

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes expandToRight {
	0% {
		transform: scaleX(0);
	}

	100% {
		transform: scaleX(1);
	}
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif; */
	font-family: 'Quicksand';
	color: var(--clr-grey-9);
	line-height: 1.5;
	/* background-image: linear-gradient(to right bottom, #f16da0, #f14e8d); */
	background-color: #eee;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
h1,
h2,
h3,
h4 {
	letter-spacing: var(--spacing);
	text-transform: capitalize;
	line-height: 1.25;
}

/* LOADING SPINNER */
.spinner-container {
	margin: 2rem auto;
	text-align: center;
}

.icon-spinner {
	height: 4rem;
	width: 4rem;
	fill: var(--clr-pink-3);
	animation: rotate 2s infinite linear;
}

/*  global classes */

/* section */
/* .section {
	width: 90vw;
	margin: 0 auto;
	max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
	.section {
		width: 95vw;
	}
} */

main {
	height: 110vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.message {
	font-family: 'Quicksand';
	font-size: 2.8rem;
	text-align: center;
}

.message--error {
	color: var(--clr-red-2);
}

.message--success {
	color: var(--clr-green-1);
	font-size: 2rem;
}

.btn {
	color: var(--clr-pink-3);
	border: none;
	background-color: var(--clr-grey-8);
	margin-top: 1.5rem;
	font-size: 1.8rem;
	padding: 1.5rem 2rem;
	letter-spacing: var(--spacing);
	border-radius: var(--radius);
	cursor: pointer;
}

.btn:hover {
	background-color: var(--clr-grey-7);
}

.btn:active {
	background-color: var(--clr-grey-8);
}

/* NAVBAR */

.navbar {
	background-color: var(--clr-grey-9);
	padding: 1rem 6rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar h1 {
	color: var(--clr-pink-3);
	font-size: 4rem;
}

.navbar__link:link,
.navbar__link:visited {
	color: var(--clr-pink-3);
	font-size: 1.7rem;
	font-weight: 500;
	display: inline-block;
	transition: transform 0.2s;
	position: relative;
}

.navbar__link:hover {
	transform: scale(1.02) translateY(-2px);
}

.navbar__link:not(:last-child) {
	margin-right: 3.5rem;
}

.separator {
	color: var(--clr-pink-3);
	margin-right: 3.5rem;
	font-size: 1.5rem;
}

.current-link::before {
	position: absolute;
	content: '';
	display: inline-block;
	width: 100%;
	height: 2.5px;
	border-radius: 4px;
	top: 2.7rem;
	background-color: currentColor;
	transform-origin: left;
	animation: expandToRight 0.5s;
}

.icon--navbar {
	height: 1.5rem;
	width: 1.5rem;
	margin-left: 0.4rem;
}

/* NOTIFICATION */
.notification {
	display: inline-block;
	position: absolute;
	top: -0.5rem;
	height: 1.5rem;
	width: 1.5rem;
	background-color: rgb(219, 47, 47);
	border-radius: 4px;
	font-weight: 500;
	text-align: center;
	font-size: 1.1rem;
	color: #eee;
}

/* CONTAINER */

.container {
	height: 75vh;
	padding: 1.5rem 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container__title {
	text-align: center;
	color: var(--clr-pink-3);
	font-size: 3.2rem;
	font-weight: 600;
}

/* PERSON */

.persons {
	margin: 3rem;
	display: grid;
	grid-template-columns: repeat(2, max-content);
	justify-content: center;
	gap: 1.5rem;
}
.person {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(2, max-content);
	column-gap: 1rem;
	row-gap: 1rem;
	padding: 3rem;
	border-radius: 4px;
	align-items: center;
	align-content: center;
	background-color: var(--clr-grey-9);
	box-shadow: var(--light-shadow);
}

.icon {
	height: 2rem;
	width: 2rem;
	fill: var(--clr-pink-3);
}

.icon--action {
	cursor: pointer;
	justify-self: end;
}

.icon--action:hover {
	fill: var(--clr-pink-2);
}

.person__name {
	color: var(--clr-pink-3);
	font-size: 2.2rem;
}
.person__birthday {
	color: var(--clr-pink-3);
	font-size: 1.8rem;
}

/* FORM */

.form-container {
	background-color: var(--clr-grey-9);
	backdrop-filter: blur(3px);
	padding: 3rem 4rem;
	width: 500px;
	margin: 5rem 0;
	border-radius: 4px;
	box-shadow: var(--light-shadow);
	color: var(--clr-pink-3);
}

.form-container__title {
	font-size: 2.7rem;
	margin-bottom: 2rem;
}

.form-container__text {
	font-size: 1.7rem;
	margin-top: 2.5rem;
	text-align: center;
}

.form-container__link {
	color: var(--clr-grey-3);
	padding-bottom: 3px;
}

.form-container__link:hover {
	border-bottom: 2px solid currentColor;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1.3rem;
	margin-bottom: 1rem;
}

.form__label {
	color: var(--clr-pink-3);
	font-weight: 600;
	font-size: 1.7rem;
}

.form__input {
	padding: 1.2rem;
	font-family: 'Quicksand';
	font-size: 1.5rem;
	font-weight: 500;
	border: none;
	background-color: var(--clr-grey-2);
	caret-color: var(--clr-pink-3);
}

.form__input::placeholder {
	font-size: 1.4rem;
	color: var(--clr-grey-6);
}

.form__input:focus,
.searchbar:focus {
	outline: none;
	box-shadow: 0 0 3px 2px rgb(241, 78, 141);
}

.form__input--invalid {
	background-color: var(--clr-red-1);
}

.form__validation-error-message {
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--clr-red-2);
}

/* PAGINATION BUTTONS */

.pg-buttons {
	display: flex;
	gap: 1.3rem;
}

.pg-buttons__button {
	position: relative; /* for positioning its before pseudo-element */
	background-color: var(--clr-grey-9);
	padding: 0.5rem 1.3rem;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--clr-pink-3);
}

.pg-buttons__button:hover {
	background-color: var(--clr-grey-8);
}

.current-pg-button::before {
	position: absolute;
	content: '';
	display: inline-block;
	height: 4px;
	width: 100%;
	top: 3.7rem;
	left: 0;
	border-radius: 4px;
	background-color: currentColor;
}

/* SEARCHBAR */

.searchbar {
	width: 40vw;
	padding: 1.5rem 2.5rem;
	border: none;
	border-radius: 3rem;
	font-family: 'Quicksand';
	font-size: 2rem;
	color: var(--clr-pink-3);
	background-color: var(--clr-grey-8);
	margin: 2rem -4.5rem 0 -2rem;
}

.searchbar::placeholder {
	color: var(--clr-grey-3);
}

/* PAGE NOT FOUND */
.page-not-found {
	text-align: center;
	margin-bottom: 15rem;
}

.icon-sad-face {
	height: 30rem;
	width: 30rem;
}

.page-not-found__heading-1 {
	font-size: 6rem;
	color: var(--clr-pink-3);
	margin-top: 2rem;
}

.page-not-found__heading-2 {
	font-size: 2.5rem;
	color: var(--clr-pink-3);
	margin-bottom: 4rem;
}
