/*
=============== 
Variables
===============
*/

:root {
	/* dark shades of primary color*/
	--clr-primary-1: hsl(162, 61%, 89%);
	--clr-primary-2: hsl(162, 60%, 78%);
	--clr-primary-3: hsl(162, 61%, 67%);
	--clr-primary-4: hsl(162, 61%, 57%);
	/* primary/main color */
	--clr-primary-5: hsl(162, 73%, 46%);
	/* lighter shades of primary color */
	--clr-primary-6: #1aa179;
	--clr-primary-7: #13795b;
	--clr-primary-8: #0d503c;
	--clr-primary-9: #06281e;
	/* darkest grey - used for headings */
	--clr-grey-1: hsl(212, 33%, 89%);
	--clr-grey-2: hsl(210, 31%, 80%);
	--clr-grey-3: hsl(211, 27%, 70%);
	--clr-grey-4: hsl(209, 23%, 60%);
	/* grey used for paragraphs */
	--clr-grey-5: hsl(210, 22%, 49%);
	--clr-grey-6: hsl(209, 28%, 39%);
	--clr-grey-7: hsl(209, 34%, 30%);
	--clr-grey-8: hsl(211, 39%, 23%);
	--clr-grey-9: hsl(209, 61%, 16%);
	--clr-white: #fff;
	--clr-red-dark: hsl(360, 67%, 44%);
	--clr-red-light: hsl(360, 71%, 66%);
	--clr-green-dark: hsl(125, 67%, 44%);
	--clr-green-light: hsl(125, 71%, 66%);
	--clr-black: #222;
	--transition: all 0.3s linear;
	--spacing: 0.1rem;
	--radius: 0.25rem;
	--light-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.15);
	--dark-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
	--max-width: 1170px;
	--fixed-width: 850px;
	--clr-pink: #f28ab2;
	--clr-pink-2: #f16da0;
	--clr-pink-3: #f14e8d;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif; */
	font-family: 'Quicksand';
	color: var(--clr-grey-9);
	line-height: 1.5;
	font-size: 62.5%;
	/* background-image: linear-gradient(to right bottom, #f16da0, #f14e8d); */
	background-color: #eee;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
h1,
h2,
h3,
h4 {
	letter-spacing: var(--spacing);
	text-transform: capitalize;
	line-height: 1.25;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.25rem;
}
h4 {
	font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
	h1 {
		font-size: 4rem;
	}
	h2 {
		font-size: 2.5rem;
	}
	h3 {
		font-size: 2rem;
	}
	h4 {
		font-size: 1rem;
	}
	body {
		font-size: 1rem;
	}
	h1,
	h2,
	h3,
	h4 {
		line-height: 1;
	}
}

/* LOADING SPINNER */

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.spinner-container {
	margin: 2rem auto;
	text-align: center;
}

.icon-spinner {
	height: 4rem;
	width: 4rem;
	fill: var(--clr-pink-3);
	animation: rotate 2s infinite linear;
}

/*  global classes */

/* section */
/* .section {
	width: 90vw;
	margin: 0 auto;
	max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
	.section {
		width: 95vw;
	}
} */

main {
	height: calc(100vh - 2rem);
	display: flex;
	justify-content: center;
	align-items: center;
}

.error-message {
	font-family: 'Quicksand';
	font-size: 3rem;
	color: var(--clr-pink-3);
	text-align: center;
}

.btn {
	color: var(--clr-pink-3);
	border: none;
	background-color: var(--clr-grey-8);
	margin-top: 1.5rem;
	font-size: 1.2rem;
	padding: 1rem 2rem;
	letter-spacing: var(--spacing);
	border-radius: var(--radius);
	cursor: pointer;
}

.btn:hover {
	background-color: var(--clr-grey-7);
}

.btn:active {
	background-color: var(--clr-grey-8);
}

/* NAVBAR */

.navbar {
	background-color: var(--clr-grey-9);
	padding: 1rem 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar h1 {
	color: var(--clr-pink-2);
	font-size: 2.5rem;
}

.navbar__link:link,
.navbar__link:visited {
	color: var(--clr-pink-2);
	font-size: 1.1rem;
	display: inline-block;
	transition: transform 0.2s;
}

.navbar__link:hover {
	transform: scale(1.02) translateY(-2px);
}

.navbar__link:not(:last-child) {
	margin-right: 1.5rem;
}

.separator {
	color: var(--clr-pink-3);
	margin-right: 1.5rem;
}

/* CONTAINER */

.container {
	width: 100%;
	height: 70vh;
	padding: 1.5rem 3rem;
}
.container__title {
	text-align: center;
	color: var(--clr-pink-3);
	font-weight: 600;
}

/* PERSON */

.persons {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(2, max-content);
	justify-content: center;
	gap: 1rem;
	height: 15rem;
}
.person {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(2, max-content);
	column-gap: 1rem;
	row-gap: 1rem;
	padding: 2rem;
	border-radius: 4px;
	align-items: center;
	align-content: center;
	background-color: var(--clr-grey-9);
	box-shadow: var(--light-shadow);
}

.icon {
	height: 1.2rem;
	width: 1.2rem;
	fill: var(--clr-pink-2);
}

.person__name {
	color: var(--clr-pink-2);
	font-size: 1.5rem;
}
.person__birthday {
	color: var(--clr-pink-2);
}

/* FORM */

.form-container {
	background-color: var(--clr-grey-9);
	backdrop-filter: blur(3px);
	padding: 3rem 4rem;
	width: 500px;
	margin: 5rem 0;
	border-radius: 4px;
	box-shadow: var(--light-shadow);
}

.form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-bottom: 1rem;
}

.form__label {
	color: var(--clr-pink-3);
	font-weight: 600;
}

.form__input {
	padding: 0.5rem 1rem;
	font-family: 'Quicksand';
	font-size: 1rem;
	font-weight: 500;
	border: none;
	background-color: var(--clr-grey-2);
	caret-color: var(--clr-pink-3);
}

.form__input::placeholder {
	font-size: 0.9rem;
	color: var(--clr-grey-6);
}

.form__input:focus {
	outline: none;
	box-shadow: 0 0 3px 2px rgb(241, 78, 141);
}
